/* RESET */
* {
  font-family: 'Comic Neue', cursive;

}
.logotipo{
  width: 4rem;
}
.index-header {
  background-image: url("../img/fondococonut.jpeg");
  background-size: cover;
  background-repeat: repeat;
  background-color: #ffe1c4;
  padding: 16px;
  /* text-align: center; */
}
.navegacion-superior {
  color: white;
  
}
.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 80px;  
  height: auto;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

