// Colores principales
$primary-color: #156e01;
$secondary-color: #40a140;
$accent-color: #c47135;
$light-bg: #f8f9fa;
$dark-bg: #111;
$text-dark: #333;
$text-light: #fff;

// Tipografía
$font-family-main: 'Comic Neue', cursive;

// Sombra
$box-shadow: 0 2px 8px rgba(0,0,0,0.1);
